<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="studyMate.mapper.CommentAndReplyCommentMapper">

    <!-- 댓글 대댓글 카운트 -->
    <select id="selectCount" resultType="int">
        <![CDATA[
  	    	SELECT COUNT(*)
  	    	FROM StudyMate.dbo.[Comment] 
  	    	WHERE leaderIdx = #{leaderIdx}
  	    ]]>
    </select>
    
    <!-- 내가 만든 스터디 그룹 페이지네이션 (조장입장) [수정]TemporaryStudyGroup 로 변경 과 쿼리추가 -->
    <select id="selectPageMyStudyGroupListForLeader" resultType="studyMate.dto.TemporaryStudyGroup">
        <![CDATA[
    		SELECT idx, studyGroupName, leaderIdx, studyGroupIntro, studyGroupTerm,(select route from [Image] where leaderIdx=userIdx) as route
    		FROM
    			( SELECT idx as idx, studyGroupName as studyGroupName, leaderIdx as leaderIdx,
    					 studyGroupIntro as studyGroupIntro, studyGroupTerm as studyGroupTerm, ROW_NUMBER() OVER (ORDER BY idx) 행번호
    			  FROM StudyMate.dbo.[StudyGroup]
    			  WHERE leaderIdx = #{leaderIdx}
    			) subquery
    		WHERE
    			   행번호 > (#{currentPage} - 1) * #{pageSize} AND 
              	    행번호 <= #{currentPage} * #{pageSize}
        	ORDER BY 행번호
    	]]>
    </select>
    
</mapper>
