<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
             
<mapper namespace="studyMate.mapper.FileMapper"> 

	<insert id="insertFile">
		insert into [File](userIdx, studyGroupIdx, fileName, fileSize, fileTime, data)
		values(#{userIdx}, #{studyGroupIdx}, #{fileName}, #{fileSize}, SYSDATETIME(), #{data})
	</insert>
	
	<select id="selectByIdx" resultType="studyMate.dto.File">
		select * from [File] where idx=#{idx}
	</select>
	
	<select id="selectByName" resultType="int">
		select idx from [File] where fileName=#{fileName}
	</select>
	
	<select id="selectByStudyGroup" resultType="studyMate.dto.File">
		select * from [File] where studyGroupIdx=#{studyGroupIdx}
	</select>
	
	<delete id="deleteFile">
		delete from [File] where idx=#{idx}
	</delete>

</mapper>            